      body {        
        /* background-color: #e9dc00;
        background-color: #d8cc00; */
        background-color: rgba(253, 239, 0, 1);
        font-family: 'News Cycle', 'Verdana', sans-serif;
        font-size: 16px;
        color: #000;
      }
      .main {
        margin: 0 auto;
        text-align: center;
      }
      .title {
        text-align: left;        
      }
      h1, span {
        color: #fff;                       
      }
      h1 {   
        font-family: 'Roboto', 'Verdana',sans-serif;          
        text-transform: uppercase;
        font-weight: 900;        
        margin: 0;
      }
      span {
        font-family: 'News Cycle', sans-serif;       
      }

      a  {
        font-family: 'Cabin', 'Verdana', sans-serif;
        color: #000;
        text-decoration: none;
        font-weight: 700;
      }
      a:hover, .links:hover a {
        color: #fff;
        text-decoration: none;
      }
      .links {
        text-align: center;
        margin: 0 auto;
        padding-bottom:3em;
      }
      .blog, .resources {
        margin: 0 auto;
        text-align: center;
      }      
      .blog:hover, .resources:hover {
        background-color: #000;
      }
      footer {
        font-family: "AsapRegular", arial, sans-serif;
        text-align: center;
        margin: 0 auto;
        padding: 10em 0 3em;
      }
      h6 {
        background: url(/images/unotebook.png) 89% 2px no-repeat;
        padding: 0 2em 0 0.35em;
        margin: 0;
        display: inline-block;
        line-height: 2em;        
      }




@media all and (max-width: 330px) {

      .title {
        margin: 6em auto;
        width: 10em;        
      }
      h1 {           
        font-size: 1.95em;
        line-height: 1em;
        line-height: 0.9em;
      }
      span {       
        font-size: 0.5em;
        font-weight: 400;
        line-height: 0.6em;
      }
      a  {
        display:block;
        padding: 0.5em;
        width: 5em;
      }
      .blog {
        padding-top: 3em;
      }      
      .blog, .resources {
        display: inline-block;
        max-width:70%;
      }
      .blog img, .resources img{
        max-width:100%;
      }


}

@media all and (min-width: 335px) and (max-width: 960px) {

}

@media all and (min-width: 961px) {

      .title {
        margin: 12em auto;
        max-width: 50em;        
      }
      h1 {           
        font-size: 4.5em;
        line-height: 1em;
        line-height: 0.9em;
      }
      span {       
        font-size: 0.65em;
        font-weight: 400;
      }
      a  {
        font-size: 1.5em;
      }
      .blog, .resources {
        width: 21em;
        height: 16em;
        padding-top: 0.75em;
        display: inline-block;
        max-width:100%;
      }
      .resources {
        margin-left: 4em;
      }
      .blog img, .resources img{
        max-width:100%;
      }            
      .resources img {
        padding: 0 2em 0.5em;
      }


}






      #footer {
        clear: both;
      }